
.cardContainer{
  border: 1px solid #C0C0C0;
  padding-bottom: 1rem
}

.cardContainer:hover{
  box-shadow: 0px 5px 10px #C0C0C0;
}

.btnSection{
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: row;
}

.button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff9f59;
  cursor: pointer;
  transition: .2s;
}

.button:hover{
  background-color: #82502c;
  color: aliceblue;
  transition: .2s ease;
}